$container-padding: 56px;

.container-wrapper {
  padding-top: $container-padding;
  padding-bottom: $container-padding;
}

.bg-2 {
  background-color: $body-bg-2; 
}

.bg-3 {
  position: relative;
  z-index: 4;
  background: rgb(20 76 63 / 96%); 
  color: white;

  h1, h2, .subTitle {
    color: white;
    background-color: inherit;
  }

  .preTitle {
    color: #f2fdf2;
  }
}
